.form {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  overflow-x: hidden;
}

.form h1 {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}

.form label, .pLabel {
  font-size: 1.125rem;
  margin: 2rem 0 1rem 0;
}

.fineText {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.amenities input {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.amenities label {
  margin-left: 0.25rem;
  font-size: 1rem;
}

.anon {
  margin: 2rem 0 1rem 0;
}

.anon input {
  margin-right: 0.5rem;
}

.submit {
  margin: 1rem 0 1rem 0;
}