.form {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  overflow-x: hidden;
}

.form h1 {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}

.form label, .pLabel {
  font-size: 1.125rem;
  margin: 2rem 0 1rem 0;
}

.fineText {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.amenities input {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.amenities label {
  margin: 0.5rem 0 0.5rem 0.25rem;
  font-size: 1rem;
}

.anon {
  margin: 2rem 0 1rem 0;
}

.anon input {
  margin-right: 0.5rem;
}

.submit {
  margin: 1rem 0 1rem 0;
}


.amenities input[type=checkbox] {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  color: #363839;
  border: 1px solid #bdc1c6;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

.amenities input[type=checkbox]::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 8px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.amenities input[type=checkbox]:checked {
  color: #fff;
  border-color: #75b1a9;
  background: #75b1a9;
}

.amenities input[type=checkbox]:checked::before {
  opacity: 1;
}

.amenities input[type=checkbox]:checked ~ label::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.checkboxInput {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}